#nav-bar {
  background: #00a087;
  color: #e8fdff;
  position: fixed;
  height: 80px;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo {
  float: left;
  padding-right: 5px;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 2.5;
  padding-left: 5px;
}