.module-footer {
  background-color: #92deea;
  border-radius: 0 0 10px 10px;
  opacity: 0.6;
  padding: 8px;
}

.module-header {
  background-color: #92deea;
  border-radius: 10px 10px 0 0;
  opacity: 0.6;
  position: relative;
}

.tweet:hover .module-header {
  background-color: #78C0E0;
  opacity: 1;

}

.tweet:hover .module-footer {
  background-color: #78C0E0;
  opacity: 1;
}

.tweet:hover .tweet-actions{
  visibility: visible;
}

.tweet-actions {
  float: right;
  visibility: hidden;
}

.tweet-avatar {
  border-radius: 5px;
  padding-top: 6px;
  padding-left: 8px;
}

.tweet-name.module-title {
  font-size: 130%;
}

.tweet.module {
  border: solid 1px #92deea;
  border-radius: 10px;
  margin: 20px;
}

.tweet-handle {
  bottom: 2px;
  position: absolute;
  right: 5px;
}

.tweet-text {
  padding: 10px;
}

